.d-block {
    display: block;
    background-color: aquamarine;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 30px;
}
.d-inline {
    display: inline;
    background-color: pink;
    border: 1px solid blue;
    width: 100px;
    height: 100px;
}
.d-inline-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 3px solid black;
    /* margin: 50px 10px 100px 30px; */
    /* padding: 10px 50px 20px 100px; */
}
.parent {
    width: 300px;
    height: 200px;
    background-color: red;
}
.parent .min{
    min-width: 400px;
    width: 440px;
    background-color: orange;
    height: 100px;
}
.parent .max{
    max-width: 400px;
    height: 100px;
    background-color: purple;
}
.box {
    background-color: beige;
    border: 1px solid black;
}
.box-px{
    width: 50px;
    height: 50px;
}
.box-vp {
    width: 50vw;
    height: 50vh;
    font-size: 10vw;
}
.box-percent {
    width: 50%;
    height: 50%;
}
.rem {
    font-size: 1.5rem;
}
.em {
    font-size: 1.5em;
}