.circle {
    border-radius: 50%;
    position: absolute;
}

.out {
    background-color: black;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, yellow, pink, red);
    position: relative;
}

.middle {
    background-color: white;
    width: 190px;
    height: 190px;
    top: 5px;
    left: 5px;
    position: absolute;
}

.in {
    width: 180px;
    height: 180px;
    top: 5px;
    left: 5px;
    background-image: url("./image/pooh.png");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    position: absolute;
}